<div class="container-fluid ">

  <div class="btn-group btn-group-justified" style="margin-top: 0">
    <a routerLinkActive="active" class="btn btn-primary" [routerLink]="['/work/todo']">Todos</a>
    <a routerLinkActive="active" class="btn btn-primary" [routerLink]="['/work/location']">Locations</a>
    <!--<li routerLinkActive="active"></li>-->
  </div>
  <!--<div class="btn-group">-->
    <!--<button type="button" class="btn btn-primary">Apple</button>-->
    <!--<button type="button" class="btn btn-primary">Samsung</button>-->
    <!--<button type="button" class="btn btn-primary">Sony</button>-->
  <!--</div>-->
  <router-outlet></router-outlet>
</div>
