<form class="form-inline text-center">
  <div class="form-group">
    <label for="where">Select Users Where </label>
    <select class="form-control" id="where">
      <option>Column 1</option>
      <option>Column 2</option>
      <option>Column 3</option>
      <option>Column 4</option>
    </select>
  </div>
  <div class="form-group" style="display: none">
    <label for="conditionText"> is </label>
    <select class="form-control" id="conditionText">
      <option>Greater</option>
      <option>Lesser than</option>
      <option>Equal to</option>
    </select>
  </div>
  <div class="form-group">
    <label for="conditionString">, </label>
    <select class="form-control" id="conditionString">
      <option>Contains </option>
      <option>Start with</option>
      <option>Ends With</option>
    </select>
  </div>
  <div class="form-group">
    <label for="filterValue"> </label>
    <input type="text" class="form-control" id="filterValue">
  </div>
</form>
