<span>
  <ul class="pagination" style="margin-bottom: -12px; margin-top: -8px;">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</span>
<span class="pull-right">
  <form class="form-inline">
    <div class="form-group" style="margin-top: -7px">
      <label for="pagesize">Page Size:</label>
      <input style="width:80px" max="100" min="10" type="number" class="form-control" id="pagesize">
    </div>
  </form>
</span>
